<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User List</title>
</head>
<body class="  ">
<!-- Wrapper Start -->
<div class="wrapper" layout:fragment="content">
    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                            <h4 class="card-title">User List</h4>
                            <a th:href="@{/employee/add}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Add User</a>
                    </div>
                    <div class="card-body">
                            <div class="table-responsive">
                                <div class="row justify-content-between">
                                    <div class="col-sm-12 col-md-12">
                                        <div id="user_list_datatable_info" class="dataTables_filter">
                                            <form th:action="@{/employee/index}" method="get">
                                                <input class="text search-input" type="text" name="search" placeholder="search here...">
                                                <input class="btn btn-primary add-list" type="submit" value="Search">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <table class="data-table table mb-0 tbl-server-info">
                                    <thead class="bg-white text-uppercase">
                                    <tr class="ligth ligth-data">
                                        <th>Name</th>
                                        <th>Contact</th>
                                        <th>Email</th>
                                        <th>Country</th>
                                        <th>Status</th>
                                        <th style="min-width: 100px">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="ligth-body">
                                    <tr th:each="user : ${employeeList}">
                                        <td class="text-center">
                                            <div class="d-flex align-items-center">
                                                <img th:src="@{'/' + ${user.imgUrl}}" class="img-fluid rounded avatar-50 mr-3" alt="image">
                                                <div th:text="${user.firstName} + ' ' + ${user.lastName}">
                                                </div>
                                            </div>
                                        </td>
                                        <td th:text="${user.phoneNumber}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.nation}"></td>
                                        <td th:if="${user.status == 0}"><span class="badge bg-primary">Active</span>
                                        </td>
                                        <td th:if="${user.status == 1}"><span class="badge bg-danger">Block</span>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center list-action">
                                                <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="View"
                                                   th:href="@{/employee/profile/{id}(id=${user.id})}"><i class="ri-eye-line mr-0"></i></a>
                                                <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                   th:href="@{/employee/edit/{id}(id=${user.id})}"><i class="ri-pencil-line mr-0"></i></a>
                                                <a class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                                   th:href="@{/employee/delete(id=${user.id})}" onclick="return confirm('Are you sure you want to delete?')"><i class="ri-delete-bin-line mr-0"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row justify-content-between mt-3">
                                <div id="user-list-page-info" class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end mb-0">
                                            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                                                <a class="page-link" th:href="@{/employee/index(page=*{currentPage - 1}, size=*{totalPages})}">&laquo;</a>
                                            </li>
                                            <li class="page-item" th:classappend="${page == currentPage ? 'active' : ''}" th:each="page : ${#numbers.sequence(0, totalPages - 1)}">
                                                <a class="page-link" th:href="@{/employee/index(page=*{page}, size=*{totalPages})}" th:text="${page + 1}"></a>
                                            </li>
                                            <li class="page-item" th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">
                                                <a class="page-link" th:href="@{/employee/index(page=*{currentPage + 1}, size=*{totalPages})}">&raquo;</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper End-->
</body>
</html>
