<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Employee manager | Thêm mới Phong ban</title>
</head>
<body>
<div class="wrapper" layout:fragment="content">
    <div class="modal fade" id="new-order" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="popup text-left">
                        <h4 class="mb-3">New Order</h4>
                        <div class="content create-workform bg-body">
                            <div class="pb-3">
                                <label class="mb-2">Email</label>
                                <input type="text" class="form-control" placeholder="Enter Name or Email">
                            </div>
                            <div class="col-lg-12 mt-4">
                                <div class="d-flex flex-wrap align-items-ceter justify-content-center">
                                    <div class="btn btn-primary mr-4" data-dismiss="modal">Cancel</div>
                                    <div class="btn btn-outline-primary" data-dismiss="modal">Create</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="container-fluid add-form-list">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title"> + Add Department</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form data-toggle="validator" th:action="@{/department/add}" method="post" role="form"
                                  th:object="${department}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name1">Name *</label>
                                            <input type="text" name="name" class="form-control" placeholder="Enter Name"
                                                   data-errors="Please Enter Name." required id="name1"
                                                   th:field="*{name}">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Parent">Parent </label>
                                            <select   id="Parent" name="employeeList" class="select picker form-control" data-style="py-0">
                                                <option th:each="dpm : ${employeeList}"
                                                        th:value="${dpm.id}"
                                                        th:text="${dpm.firstName}+ ' ' +${dpm.lastName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Sub Leader ">Sub Leader  </label>
                                            <select   id="Sub Leader " name="employeeList" class="select picker form-control" data-style="py-0">
                                                <option th:each="dpm : ${employeeList}"
                                                        th:value="${dpm.id}"
                                                        th:text="${dpm.firstName}+ ' ' +${dpm.lastName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Leader">Leader </label>
                                            <select   id="Leader" name="employeeList" class="select picker form-control" data-style="py-0">
                                                <option th:each="dpm : ${employeeList}"
                                                        th:value="${dpm.id}"
                                                        th:text="${dpm.firstName}+ ' ' +${dpm.lastName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="description1">Description *</label>
                                            <input type="text" name="description" class="form-control"
                                                   placeholder="Enter Description"
                                                   data-errors="Please Enter Code." required id="description1"
                                                   th:field="*{description}">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="sex">Status *</label>
                                            <select id="sex" name="sex" th:field="*{status}"
                                                    class="select picker form-control" data-style="py-0">
                                                <option value="1">Active</option>
                                                <option value="0">Block</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-danger"> Add ...</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>