<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Employee manager | Sửa Phong Ban</title>
</head>
<body>
<div class="content-page" layout:fragment="content">
    <div class="container-fluid add-form-list">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title"> + Edit Department</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form data-toggle="validator" th:action="@{/department/update}" method="post" role="form"
                              th:object="${department}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="1name">Name *</label>
                                        <input type="text" name="name" class="form-control" placeholder="Enter Name"
                                               data-errors="Please Enter Name." required id="1name" th:value="*{name}">
                                        <div class="help-block with-errors"></div>
                                        <input type="hidden" th:field="*{id}" id="id" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Parent">Parent </label>
                                        <select   id="Parent" name="employeeList" class="select picker form-control" data-style="py-0">
                                            <option th:each="dpm : ${employeeList}"
                                                    th:value="${dpm.id}"
                                                    th:text="${dpm.firstName}+ ' ' +${dpm.lastName}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Sub Leader ">Sub Leader  </label>
                                        <select   id="Sub Leader " name="employeeList" class="select picker form-control" data-style="py-0">
                                            <option th:each="dpm : ${employeeList}"
                                                    th:value="${dpm.id}"
                                                    th:text="${dpm.firstName}+ ' ' +${dpm.lastName}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Leader">Leader </label>
                                        <select   id="Leader" name="employeeList" class="select picker form-control" data-style="py-0">
                                            <option th:each="dpm : ${employeeList}"
                                                    th:value="${dpm.id}"
                                                    th:text="${dpm.firstName}+ ' ' +${dpm.lastName}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="1description">Description *</label>
                                        <input type="text" name="description" class="form-control"
                                               placeholder="Enter Description"
                                               data-errors="Please Enter Code." required id="1description"
                                               th:field="*{description}">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="status">Status *</label>
                                        <select id="status" name="sex" th:field="*{status}"
                                                class="select picker form-control" data-style="py-0">
                                            <option value="1">Active</option>
                                            <option value="0">Block</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-danger">Edit ...</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>