<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Employee | Danh sách phòng ban</title>
</head>
<body>
<div class="content-page" layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">Department List</h4>
                    </div>
                    <form th:action="@{/department/search}" method="get">
                        <input class="text search-input" type="text" name="name" placeholder="search here...">
                        <input class="btn btn-primary add-list" type="submit" value="Search">
                    </form>
                    <a th:href="@{/department/add}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Add
                        Position</a>
                </div>
                <div class="col-lg-12">
                    <div class="table-responsive rounded mb-3">
                        <table class="data-table table mb-0 tbl-server-info">
                            <thead class="bg-white text-uppercase">
                            <tr class="ligth ligth-data">
                                <th>Id</th>
                                <th>Name</th>
<!--                                <th>ParenId</th>-->
<!--                                <th>LeaderId</th>-->
<!--                                <th>SubLeader</th>-->
                                <th>Description</th>
                                <th>CreatedBy</th>
                                <th>CreatedDate</th>
                                <th>LastModifiedBy</th>
                                <th>LastModifiedDate</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody class="ligth-body">
                            <tr th:each="de: ${departmentList}" th:object="${de}">
                                <td th:text="*{id}"></td>
                                <td th:text="*{name}"></td>
<!--                                <td th:text="*{parentId}"></td>-->
<!--                                <td th:text="*{leaderId}"></td>-->
<!--                                <td th:text="*{subLeaderId}"></td>-->
                                <td th:text="*{description}"></td>
                                <td th:text="*{createdBy}"></td>
                                <td th:text="*{createdDate}"></td>
                                <td th:text="*{lastModifiedBy}"></td>
                                <td th:text="*{lastModifiedDate}"></td>
                                <td th:if="*{status == 0}"><span class="badge bg-primary">Active</span></td>
                                <td th:if="*{status == 1}"><span class="badge bg-danger">Block</span>
                                <td>
                                    <div class="d-flex align-items-center list-action">
                                        <a th:href="@{/department/update/{id}(id=${de.id})}" class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top"
                                           title=""
                                           data-original-title="Edit"
                                           href="#"><i class="ri-pencil-line mr-0"></i></a>
                                        <a th:href="@{/department/delete/{id}(id=${de.id})}" onclick="return confirm('Bạn chắn chắn muốn xóa không')"
                                           class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top"
                                           title=""
                                           data-original-title="Delete"
                                           href="#"><i class="ri-delete-bin-line mr-0"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-between mt-3">
                    <div id="user-list-page-info" class="col-md-6">
                        <span>Showing 1 to 5 of 5 entries</span>
                    </div>
                    <div class="col-md-6">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end mb-0">
                                <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                                    <a class="page-link" th:href="@{/position/index(page=*{currentPage - 1}, size=*{totalPages})}">&laquo;</a>
                                </li>
                                <li class="page-item" th:classappend="${page == currentPage ? 'active' : ''}" th:each="page : ${#numbers.sequence(0, totalPages - 1)}">
                                    <a class="page-link" th:href="@{/position/index(page=*{page}, size=*{totalPages})}" th:text="${page + 1}"></a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">
                                    <a class="page-link" th:href="@{/position/index(page=*{currentPage + 1}, size=*{totalPages})}">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>