<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="content-page" layout:fragment="content">
        <div class="container-fluid add-form-list">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Edit Experience</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/experience/edit}" method="post" th:object="${editExperience}">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input th:field="*{id}" type="hidden" class="form-control" id="id" readonly>
                                            <label for="name">Name</label>
                                            <input th:field="*{name}" id="name" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="companyName">Company Name</label>
                                            <input th:field="*{companyName}" id="companyName" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="part">Part</label>
                                            <input th:field="*{part}" id="part" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="scale">Scale</label>
                                            <input th:field="*{scale}" id="scale" type="number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="language">Language</label>
                                            <input th:field="*{language}" id="language" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="framework">Framework</label>
                                            <input th:field="*{framework}" id="framework" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="os">OS</label>
                                            <input th:field="*{os}" id="os" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="start">Start Work</label>
                                            <input th:field="*{startWork}" id="start" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="start">End Work</label>
                                            <input th:field="*{endWork}" id="start" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="content">Content</label>
                                            <input th:field="*{content}" id="content" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <input th:field="*{description}" id="description" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="url">Url</label>
                                            <input th:field="*{url}" id="url" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                    <button type="reset" class="btn iq-bg-danger">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page end  -->
        </div>
    </div>
</body>
</html>